[2018-01-17 15:24] FrankSauve opened #1 "Stories for sprint 1"
- [x] Stories for setup + infrastructure

[2018-01-17 15:32] FrankSauve opened #2 "As a developer, I want to be able to build a class diagram"
- [x] Generate with a tool
- [x] Redo manually (Optional)

[2018-01-17 15:34] FrankSauve opened #3 "Create product backlog of features"
- [x] Study issues from https://github.com/AntennaPod/AntennaPod/issues
- [x] Pick feature we want to implement

[2018-01-17 15:49] FrankSauve opened #4 "TEST"

[2018-01-17 15:50] #4 closed, assigned to nobody

[2018-01-17 16:01] FrankSauve commented on #3
**Potential first feature**:

- #18 Ability to "Add to queue", "Mark as played", "Add to favorites" multiple podcasts via Downloads section https://github.com/AntennaPod/AntennaPod/issues/2508

- ~~Option to delete episode after listening to it~~ (Already implemented)

- #22 Trending tab

- #23 A discovery tab for finding new podcasts

- Add a custom color scheme option for the GUI

[2018-01-17 16:08] FrankSauve opened #5 "Modify readme"
- [x] Add our names, id, team name.
- [x] Remove any useless info

[2018-01-17 16:11] FrankSauve opened #6 "Story: CI"
## As a developer, I want to have a continuous integration set up, so that _(to complete)..._

- **Number of story points:** 5
- **Priority:** High
- **Risk:**  Medium
- _**Estimation of the ideal time**_ : 15 hours

### Tasks TO DO:

- [x] Pick a CI tool
- [x] Setup CircleCI

### Test on a new PR for every team member
- [x] @FrankSauve #11
- [x] @jiggy357  #13
- [x] @LeCleric #14
- [x] @williamki

[2018-01-22 15:07] FrankSauve commented on #6
We will use CircleCI because that is what the original project used

[2018-01-24 17:02] williamkingbede commented on #1
As a developer, I want to be able to build the project. #8
As a developer, I want to be able to test the application. #9
As a developer, I want to have a continuous integration set up. #6
As a developer, I want to be able to understand the code of the application. #10
As a developer, I want to be able to build a class diagram. #2

[2018-01-24 17:37] FrankSauve opened #8 "Story: As a developer, I want to be able to build the project"
- [x] Build in Android Studio
- [x] Build in CircleCI

[2018-01-24 17:38] FrankSauve opened #9 "Story: Test the app"
## As a developer, I want to be able to test the application, so that I can see what works or not.

- **Number of story points:** 3
- **Priority:** High
- **Risk:**  Low
- _**Estimation of the ideal time**_: 1 hour

### Tasks TO DO:

- [x] Locally
- [x] In CircleCI

[2018-01-24 17:39] FrankSauve opened #10 "Story: understand the code"
## As a user, I want to be able to understand the code, so that I can start adding some features.

- **Number of story points:** 20
- **Priority:** High
- **Risk:**  Low
- _**Estimation of the ideal time**_ :

### TO DO before closing the issue:
- Assign story to a feature (label) -- **Not applicable**
- [x] Assign an Iteration (milestone)
- [x] Link all commits, arch diagrams, summaries of discus

[2018-01-24 19:52] FrankSauve commented on #6
Everything works! See PR #11

[2018-01-24 19:55] FrankSauve commented on #8
Successfully built locally on everyone's machines
Successfully built on CircleCI

[2018-01-24 20:15] ghost commented on #5
Can I delete **FeedBack**, **Help Test AntennaPod**, **Nightly Builds** and **Translating AntennaPod** ? I find it not relevant to our project.

<img width="922" alt="capture d ecran 2018-01-24 a 15 13 00" src="https://user-images.githubusercontent.com/22198043/35354766-2653bf68-0119-11e8-9e47-3092ab3be3f4.png">
<img width="752" alt="capture d ecran 2018-01-24 a 15 13 12" src="https://user-images.

[2018-01-24 20:16] FrankSauve commented on #5
Yeah we don't need that

[2018-01-24 20:32] FrankSauve commented on #9
Look at PR #11 for an example

[2018-01-26 15:55] #1 closed

[2018-01-26 15:55] #5 closed

[2018-01-26 15:56] #8 closed, assigned to nobody

[2018-01-26 16:09] FrankSauve opened #12 "Create burndown chart"
- [x] Select the points to do for sprint 1
- [x] Do planning poker for sprint 1
- [x] Create burndown chart for sprint 1

[2018-01-28 19:46] ghost commented on #12
[Planning Poker - Sprint 1.pdf](https://github.com/FrankSauve/390AntennaPod/files/1671518/Planning.Poker.-.Sprint.1.pdf)

Here is the documentation for our Planning Poker and our Burndown chart for sprint 1.

[2018-01-28 19:54] ghost commented on #2
@jiggy357 generated the UML class diagram by using the software Visual Paradigm.

![uml](https://user-images.githubusercontent.com/22198043/35486368-0737b3ee-043b-11e8-9fc8-02f43d1ab603.jpg)

[2018-01-28 20:23] FrankSauve commented on #2
Currently redoing it in Cacoo

[2018-01-28 22:01] ghost opened #17 "Update UML Class Diagram"
## Update the UML Class Diagram with the new features implemented

- [x] Story: Episodes page - Organize  #40
- [x] Story: Add to favorites #27
- [x] Story: Add to queue #26
- [x] Story: Mark as unplayed #39
- [x] Story: Mark as played #24
- [x] Story: Trending tab in side menu #28

**We have to link each UML class diagrams to its Story**

_**We have to do something more "overview", the Class Diag

[2018-01-28 22:18] ghost opened #18 "Feature: Organize podcasts"
## Feature Description

Implement the ability to

- "Add to queue"
- "Mark as played"
- "Mark as unplayed"
- "Add to favorites"
- "Remove"

multiple podcasts via Downloads section

see AntennaPod's issue:  AntennaPod/AntennaPod#2508

-------------------------------------------------------------------
ADDITIONAL FEATURE: We will add the same abilities to the Episodes page.

## Feature Stories

- [x

[2018-01-28 22:20] Raph1105 commented on #18
# Feature Mock-ups

## Ability to "Add to queue", "Mark as played", "Add to favorites" multiple podcasts via Downloads section

Original Download GUI             |  Original Podcast GUI | New Download GUI Mockup
:-------------------------:|:-------------------------:|:-------------------------:
<img src="https://user-images.githubusercontent.com/13441191/35256020-cdf3dc5e-ffbf-11e7-870e-cbcdca81de

[2018-01-28 22:22] Raph1105 commented on #18
https://github.com/FrankSauve/390AntennaPod/issues/3

[2018-01-28 22:30] ghost opened #20 "Release Summary 1"
Complete the following sections of the Google Doc: https://docs.google.com/document/d/1T64QRASFJGihv-K8zpHydnTj01gDlH0CfDt8nevR2aQ/edit?usp=sharing

- [x] Team members
- [x] Mobile App summary -- @LeCleric
- [x] Velocity -- @Raph1105
- [x] Plan up to next release -- @Raph1105
- [x] Overall Arch and Class diagram (#2 and #17) -- @jiggy357 (UML class diagrams) & @williamkingbede + @LeCleric (Structu

[2018-01-28 22:53] ghost opened #21 "Burndown Chart I2"
- [x] Select the points to do for sprint 2
- [x] Do planning poker for sprint 2
- [x] Create burndown chart for sprint 2
- [x] Combine burndown chart for sprint 1 and sprint 2

[2018-01-28 23:01] ghost opened #22 "Feature: Trending tab"
## Feature Description

Have a trending tab in the user's menu.

## Feature Stories

- [x] As a user, I want to be able to select the Trending tab in the side menu so that I can see trending podcasts. #28

## Feature Mock-ups

Original Menu GUI             |  New Menu GUI | New Trending page GUI
:-------------------------:|:-------------------------:|:-------------------------:
<img src="https://u

[2018-01-28 23:02] Raph1105 commented on #22
# Feature Mock-ups

Original Menu GUI             |  New Menu GUI | New Trending page GUI
:-------------------------:|:-------------------------:|:-------------------------:
<img src="https://user-images.githubusercontent.com/13441191/35290362-0a2976d4-0038-11e8-9c32-f01c7085d12b.PNG" width="150"> | <img src="https://user-images.githubusercontent.com/13441191/35290430-3d871f04-0038-11e8-95c2-eabf6

[2018-01-29 01:36] ghost opened #23 "Feature: Discovery page"
## Feature Description

Have a preferences profile in the app.
Have a discovery tab in the menu.
Have a discovery page using the user's preferences.

## Feature Stories

- [x]  As a user I want to be able to have my podcasts preferences stored, so that I can have a preferences profile in the app. #43
- [x] As a user I want to be able to have a Discovery page so that I can have recommendations acco

[2018-01-29 01:54] ghost opened #24 "Story: Mark as played"
## As a user, I want to "Mark as played" Podcasts in my completed downloads, so I don't listen to the same one.

- **Number of story points:** 3
- **Priority:** Medium
- **Risk:** Low
- _**Estimation of the ideal time**_: 1 hour

### Tasks TO DO:

- [x] Add the button ACTION_MARK_PLAYED from EpisodesApplyActionFragment.java in CompleteDownloadsFragment.java

### Related to this story

- commit: #3

[2018-01-29 17:04] williamkingbede commented on #18
I just checked and apparently when the download of a podcast is completed it is automatically added to queue. So we might have to remove this feature as it is already implemented in some way or we might change to something else like 'remove from queue' (even though I don't see the value in that).

[2018-01-29 17:09] FrankSauve commented on #18
@williamkingbede Good point, but it could still be useful if you clear your cue and want to add them back.

[2018-01-29 17:14] williamkingbede commented on #18
Ahh okay so in that case we have to find a way to disable the option when it is already in the queue and enable it in the case where it is not already in there.

[2018-01-29 21:30] FrankSauve commented on #22
@guipadua

[2018-01-29 21:31] ghost commented on #18
@guipadua Could you validate this feature? thank you!

[2018-01-30 00:41] FrankSauve opened #26 "Story: Add to queue"
##  As a user, I want to "Add to queue" Podcasts in my completed downloads, so I can listen to it later when I have the occasion.

- **Number of story points:** 3
- **Priority:** Medium
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 1 hour

### Tasks TO DO:

- [x] Add the button ACTION_QUEUE from EpisodesApplyActionFragment.java in CompleteDownloadsFragment.java

### Related to this story

[2018-01-30 00:42] FrankSauve opened #27 "Story: Add to favorites"
## As a user, I want to "Add to favorites" Podcasts, so I can find Podcasts that I like easily.

- **Number of story points:** 5
- **Priority:** Medium
- **Risk:**  Low
- _**Estimation of the ideal time**_: 2 hours

### Tasks TO DO:

- [x] create a button "ADD_TO_FAVORITES" in EpisodesApplyActionFragment.java
- [x] create a view for the "Add to favorites" in episodes_apply_action_fragment.xml
- [x

[2018-01-30 00:43] FrankSauve opened #28 "Story: Trending tab in side menu"
## As a user, I want to be able to select the Trending tab in the side menu so that I can see trending podcasts.

- **Number of story points:** 5
- **Priority:** Medium
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 3 hours

### Tasks TO DO:

- [x] Add Trending tab to the side menu
- [x] Add the appropriate icon next to the Trending tab

### Related to this story:

- commit: #37

### Unit

[2018-01-30 00:47] FrankSauve opened #29 "TO IGNORE"
## As a user, I want to be able to view the Trending podcasts so that I can add them to my followed podcasts.

- **Number of story points:** 13
- **Priority:** Medium
- **Risk:**  Low
- _**Estimation of the ideal time**_ :

### Tasks TO DO:

- [ ] Get trending podcast from itunes
- [ ] Design UI
- [ ] Redirect to appropriate Activity

### TO DO before closing the issue:
- [x] Assign story to a fea

[2018-01-30 19:52] #3 closed

[2018-01-30 19:52] #10 closed, assigned to nobody

[2018-01-30 19:52] #2 closed

[2018-01-30 21:10] guipadua commented on #22
Good to go. I'm assuming that trending here is just what itunes has as trending.
Maybe add stories for future with different options.

[2018-01-30 21:12] guipadua commented on #18
Good to go. Seems simpler than the other one, but might be a good start, has value and low risk

[2018-01-30 22:04] ghost opened #30 "Feature: Create folders"
## Feature Description

Allow users to put episodes downloaded into folders that they can create and name. Ex: “Comedy” folder, “Non-fiction” folder, etc.

## Feature Stories

- [x] As a user, I want to be able to create folders (and name them), so that I organize my podcasts. #45
- [x] As a user, I want to be able to add podcasts (from the episodes page) into the folders that I have created, so t

[2018-01-30 22:06] ghost opened #31 "Feature: Number of listens"
## Feature Description

Add in the number of listens for a podcast.

## Feature Stories

- [ ] As a user, I want to be able to see the number of listens of a podcast, so that I can see if it is popular.

## Feature Mock-ups

The mock-ups were done by .

[2018-01-30 22:50] ghost opened #32 "Feature: Reorganize the settings page"
## Feature Description

Make the settings page more user-friendly.

## Feature Stories

- [x] As a user, I want to be able to have a user-friendly settings page, so that I can find what I am looking for quickly and easily.  #52

## Feature Mock-ups
For the settings page, we intend to take the pre-existing sections in the settings page, and have selecting a section show all the toggles and options

[2018-01-30 23:11] ghost opened #33 "Feature: Advanced search"
## Feature Description

Have an advanced search for iTunes (By category, language, etc) _(define etc)_

## Feature Stories

- [x] As a user, I want to be able to, in the search page, seek for podcasts by category, language _(etc. - to define)_ so that I can easily find what I am looking for specifically. #49

## Feature Mock-ups

Original Add Podcast GUI             |  New Add Podcast GUI | New Ad

[2018-01-30 23:14] ghost opened #34 "Feature: Relate podcasts"
## Feature Description

When we are in an episode of a podcast, we want to be able to have a list of "You may also like..." podcasts (ex: Netflix).

## Feature Stories

- [ ] As a user, I want to be able to suggestions when listening to a podcast's episode, so that I discover new podcasts that I might like.

## Feature Mock-ups

The mock-ups were done by .

[2018-01-30 23:17] ghost opened #35 "Feature: Parental Control"
## Feature Description

Have a parental control option in order to filter podcasts that have explicit content.

## Feature Stories

- [ ] As a user, I want to be able to have a parental control option, so that podcasts with explicit content are filtered.

## Feature Mock-ups

The mock-ups were done by .

[2018-01-30 23:43] ghost commented on #3
Go to [Backlog Milestone](https://github.com/FrankSauve/390AntennaPod/milestone/4) to see all the features and stories in the product backlog.

[2018-01-30 23:51] ghost commented on #2
![35587555-2446cff0-05cc-11e8-8c1e-18dee1cccaa2](https://user-images.githubusercontent.com/22198043/35597901-896f9bb0-05ee-11e8-968d-06f0cafb6ce4.png)

Done by @LeCleric and @FrankSauve.

[2018-01-31 00:04] ghost commented on #12
I will redo the burndown chart according to when we closed the stories.

[2018-02-01 18:56] guipadua commented on #2
Please try to add a more high-level view with some text that explains the architecture.

[2018-02-03 15:32] FrankSauve commented on #29
Should only be one story separated into different tasks

[2018-02-03 15:32] #29 closed, assigned to nobody

[2018-02-03 15:33] FrankSauve commented on #9
Test reports were successfully generated locally on Android Studio and in the command line

[2018-02-04 22:29] FrankSauve commented on #9
Test reports were successfully generated in circleCI in the artifacts tab

[2018-02-04 22:29] #9 closed, assigned to nobody

[2018-02-06 00:25] ghost opened #39 "Story: Mark as unplayed"
##  As a user, I want to "Mark as unplayed" Podcasts in my completed downloads, so I can listen to them again.

- **Number of story points:** 3
- **Priority:** Medium
- **Risk:**  Low
- _**Estimation of the ideal time**_: 1 hour

### Tasks TO DO:

- [x] Add the button ACTION_MARK_UNPLAYED from EpisodesApplyActionFragment.java in CompleteDownloadsFragment.java

### Related to this story

- commit:

[2018-02-06 00:30] ghost opened #40 "Story: Episodes page - Organize"
## As a user, I want to be able to "Mark as played", "Mark as Unplayed", "Add to queue", "Add to favorites" and "Delete" Podcasts in the Episodes page, so I can organize them as I like.

- **Number of story points:** 3
- **Priority:** Medium
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 1 hour

### Tasks TO DO:

- [x] On the episodes page, remove the three dots on the top right, and repl

[2018-02-06 02:05] FrankSauve commented on #31
Itunes doesn't seem to return the number of listens.
See https://github.com/FrankSauve/390AntennaPod/wiki/Itunes-API-Reference
But maybe there is still a way

[2018-02-06 02:07] FrankSauve commented on #35
Itunes doesn't seem to return explicit tags
See https://github.com/FrankSauve/390AntennaPod/wiki/Itunes-API-Reference
But maybe we can just block the categories that look non child-friendly

[2018-02-06 03:46] FrankSauve commented on #6
My dummy test was picked up by circleCI and passed
https://59-116841114-gh.circle-artifacts.com/0/tmp/circle-junit.vy1a9gL/junit/de.test.antennapod.util.DummyTest.html

[2018-02-07 20:54] FrankSauve commented on #6
We're only missing your dummy test @Cotso

[2018-02-08 02:00] Raph1105 commented on #39
#38 commit

[2018-02-08 02:02] Raph1105 commented on #39
#38

[2018-02-08 02:02] ghost commented on #39
Commit related to this story: #38

[2018-02-08 02:02] ghost commented on #24
Commit related to this story: #38

[2018-02-08 02:02] ghost commented on #26
Commit related to this story: #38

[2018-02-08 02:03] ghost commented on #27
Commit related to this story: #38

[2018-02-08 02:32] ghost opened #42 "TO ignore"

[2018-02-08 02:32] Raph1105 commented on #42
Commit related to this story: #38

[2018-02-08 02:34] #42 closed, assigned to nobody

[2018-02-08 17:22] #6 closed

[2018-02-08 17:22] #18 closed, assigned to Sarb-F, Cotso

[2018-02-08 17:22] #22 closed, assigned to FrankSauve, LeCleric, williamkingbede

[2018-02-08 22:09] ghost commented on #2
@jiggy357 how is it going with the class diagram ?

[2018-02-08 22:49] #12 closed, assigned to nobody

[2018-02-09 03:54] ghost opened #43 "Story: Preferences"
## As a user I want to be able to have my preferences stored so that I can have a preferences profile in the app.

- **Number of story points:** 5
- **Priority:** Medium
- **Risk:** Medium
- _**Estimation of the ideal time**_: 6 hours

### Tasks TO DO:

- [x] Create a tab "Preferences" or create a page "Preferences" in the settings
- [x] Be able to save different kinds of categories of podcasts

#

[2018-02-09 03:59] ghost opened #44 "Story: Discovery tab"
## As a user I want to be able to have a Discovery page so that I can have recommendations according to my preferences (entered in my preferences profile).

- **Number of story points:** 8
- **Priority:** Medium
- **Risk:** Medium
- _**Estimation of the ideal time**_: 8 hours

### Tasks TO DO:

- [x] Create the "Discovery" tab in the menu
- [x] If the user already completed his preferences profile

[2018-02-09 04:00] Raph1105 commented on #23
@LeCleric could you create the mockups when you have time please ?

[2018-02-09 04:16] ghost opened #45 "Story: Create folders"
## As a user, I want to be able to create folders (and name them), so that I organize my podcasts.

- **Number of story points:** 13
- **Priority:** Medium
- **Risk:**  High
- _**Estimation of the ideal time**_: 10 hours

### Tasks TO DO:

- [x] Create Folders Fragment
- [x] Add Folders Fragment to side menu
- [x] Create appropriate view for the fragment
- [x] Add create folder functionality
- [x]

[2018-02-09 04:17] ghost opened #46 "Story: Add podcasts to folders"
## As a user, I want to be able to add podcasts (from the episodes page) into the folders that I have created, so that I can populate them.

- **Number of story points:** 7
- **Priority:** Medium
- **Risk:** Medium
- _**Estimation of the ideal time**_: 10 hours

### Tasks TO DO:

- [x] Create menu option to add items to folders in EpisodesApplyActionFragment
- [x] Add function to add items to fold

[2018-02-09 04:20] ghost opened #47 "Story: Folders tab"
## As a user, I want to be able to see my folders in the menu, so that I can access them easily.
- **Number of story points:** 5
- **Priority:** Medium
- **Risk:** Medium
- _**Estimation of the ideal time**_: 5 hours

### Tasks TO DO:

- [x] Add Folders tab in the side menu when a user creates it
- [ ] Be able to rename or delete the folders from the side menu

### TO DO before closing the issue:

[2018-02-09 04:24] ghost opened #48 "Story: Search page"
## As a user, I want to have a Search page (populated by iTunes), so that I can search podcasts.

- **Number of story points:** 13
- **Priority:** Medium
- **Risk:**  Medium
- _**Estimation of the ideal time**_: 10 hours

### Tasks TO DO:

- [ ] task1

### TO DO before closing the issue:
- [ ] Assign story to a feature (label)
- [ ] Assign an Iteration (milestone)
- [ ] Link all commits, arch diag

[2018-02-09 04:26] ghost opened #49 "Story: Advanced search page"
## As a user, I want to be able to, in the search page, seek for podcasts by category, language, artist (and date) so that I can easily find what I am looking for specifically.

- **Number of story points:** 13
- **Priority:** Medium
- **Risk:**  Medium
- _**Estimation of the ideal time**_: 15 hours

### Tasks TO DO:

- [x] Create advanced search options items in iTunes search page
- [x] Extend th

[2018-02-09 04:31] ghost opened #50 "Update the UML class Diagram - R2"
## Update the UML Class Diagram with the new features implemented

- [x] Story: Advanced search page #49
- [x] Story: Preferences #43
- [x] Story: Discovery tab #44
- [x] Story: Sub-Categories on the window #54
- [x] Story: Autocomplete suggestions #68
- _Story: Folders tab #47 -- moved for I5_
- _Story: Add podcasts to folders #46 -- moved for I5_
- [x] Story: Create folders #45

**We have to lin

[2018-02-09 04:41] Raph1105 commented on #6
#ebf0ce3

[2018-02-09 05:06] ghost opened #51 "Story: Fix or delete non-working features"
## As a user, I want to be able to only see the working features, so that _(to complete)..._

- **Number of story points:** 5
- **Priority:** Low
- **Risk:**  Low to Medium
- _**Estimation of the ideal time**_: 5 hours

### Tasks TO DO:

- [ ] task1

### TO DO before closing the issue:
- [x] Assign story to a feature (label)
- [x] Assign an Iteration (milestone)
- [ ] Link all commits, arch diagra

[2018-02-09 05:07] ghost opened #52 "Story: Organize the settings page"
## As a user, I want to be able to have a user-friendly settings page, so that I can find what I am looking for easily.

- **Number of story points:** 5
- **Priority:** Low
- **Risk:**  Medium
- _**Estimation of the ideal time**_ : 3 hours

### Tasks TO DO:

- [x] Think about subcategories for the settings page (eg. "Presentation settings", "Downloading settings" ...).
- [x] Create those subcatego

[2018-02-09 05:19] #21 closed, assigned to nobody

[2018-02-12 15:26] FrankSauve commented on #48
I don't think this story is necessary. See #49
Closing it for now

[2018-02-12 15:26] #48 closed, assigned to nobody

[2018-02-12 15:40] FrankSauve opened #53 "Feature: Sub-Categories on the window"
## Feature Description

Have a **Categories** tab where podcasts would be separated by category

## Feature Stories

- [x] As a user, I want to have a sub-categories displayed on the window so I can find new podcasts of a specific genre. #54

## Feature Mock-ups

<img src="https://user-images.githubusercontent.com/13441191/36165372-582bc61c-10bd-11e8-89b7-d27c109db572.png" width="250">

<img src="

[2018-02-12 15:49] FrankSauve opened #54 "Story: Sub-categories on the window"
##  As a user, I want to have a sub-categories displayed on the window so I can find new podcasts of a specific genre.

- **Number of story points:** 8
- **Priority:** High
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 3 hours

### Tasks TO DO:

- [x] Show subcategories when the user selects a category in advanced search

### TO DO before closing the issue:
- [x] Assign story to a featur

[2018-02-12 18:46] FrankSauve commented on #28
Only missing TA signoff

[2018-02-12 22:35] Raph1105 commented on #26
Only missing the TA's signoff.

[2018-02-13 20:13] ghost commented on #21
[Planning Poker and Burndown Chart R1-3.pdf](https://github.com/FrankSauve/390AntennaPod/files/1721534/Planning.Poker.and.Burndown.Chart.R1-3.pdf)

[2018-02-14 18:00] ghost commented on #39
Commit related to this story: #57

[2018-02-14 18:07] ghost commented on #26
Commit related: #57

[2018-02-14 19:55] ghost commented on #27
Commit related to this story: #57

[2018-02-14 20:22] #28 closed, assigned to williamkingbede

[2018-02-14 20:23] #24 closed, assigned to nobody

[2018-02-14 20:23] #39 closed, assigned to nobody

[2018-02-14 20:23] #26 closed, assigned to nobody

[2018-02-15 22:41] ghost opened #58 "Update the UML class Diagram - I4"
## Update the UML Class Diagram with the new features implemented

- [ ] Story: Organize the settings page #52
- [ ] Story: Fix or delete non-working features #51
- [ ] Story: Folders tab #47
- [ ] Story: Add podcasts to folders #46
- [ ] Story: Create folders #45

**We have to link each UML class diagrams to its Story**

[2018-02-15 22:43] ghost opened #59 "Release Summary 2"
Complete the following sections of the Google Doc:

https://docs.google.com/document/d/1lKQSKZSv-5kTFjVsGHiQQfo6jMhfA6NUJJq-xfYicC8/edit#

- [x] Team members -- everybody has to work on that point
- [x] Velocity
- [x] Plan up to next release
- [x] Overall Arch and Class diagram
- [x] Infrastructure
- [x] Name Conventions
- [x] Code
- [x] Testing
- [x] Finished Short Story Summaries
- [x] Continuou

[2018-02-15 23:04] ghost commented on #21
[Planning Poker and Burndown Chart R1-4.pdf](https://github.com/FrankSauve/390AntennaPod/files/1729694/Planning.Poker.and.Burndown.Chart.R1-4.pdf)

Updated version without "UML class diagram" as a story for iterations 2, 3 & 4.

[2018-02-20 20:10] #40 closed, assigned to Cotso

[2018-02-20 20:10] #27 closed, assigned to Sarb-F

[2018-02-21 16:11] ghost commented on #2
Link to view all the UML class diagrams done by Sarbeng Frimpong @jiggy357 :
https://www.lucidchart.com/invitations/accept/a58d90a2-653c-42e8-8f11-12e96840bbfd

[2018-02-21 18:19] ghost commented on #20
@FrankSauve sent it to the TA -- 21/02/2018 around 1 pm

[2018-02-21 18:20] #20 closed, assigned to Sarb-F, FrankSauve, LeCleric, Cotso, williamkingbede

[2018-02-21 18:43] Raph1105 commented on #27
![screen shot 2018-02-21 at 1 30 49 pm](https://user-images.githubusercontent.com/22198043/36498475-602cc0dc-170c-11e8-8ea3-c330818feeba.png)

[View in LucidChart](https://www.lucidchart.com/documents/edit/dda86731-9993-4d8a-be75-6eee946b83eb/0?shared=true&)

[2018-02-21 18:44] Raph1105 commented on #24
![screen shot 2018-02-21 at 1 30 49 pm](https://user-images.githubusercontent.com/22198043/36498475-602cc0dc-170c-11e8-8ea3-c330818feeba.png)

[View in LucidChart](https://www.lucidchart.com/documents/edit/dda86731-9993-4d8a-be75-6eee946b83eb/0?shared=true&)

[2018-02-21 18:45] ghost commented on #39
![screen shot 2018-02-21 at 1 30 49 pm](https://user-images.githubusercontent.com/22198043/36498475-602cc0dc-170c-11e8-8ea3-c330818feeba.png)

[View in LucidChart](https://www.lucidchart.com/documents/edit/dda86731-9993-4d8a-be75-6eee946b83eb/0?shared=true&)

UML class diagram done by @jiggy357.

[2018-02-21 18:45] ghost commented on #26
![screen shot 2018-02-21 at 1 30 49 pm](https://user-images.githubusercontent.com/22198043/36498475-602cc0dc-170c-11e8-8ea3-c330818feeba.png)

[View in LucidChart](https://www.lucidchart.com/documents/edit/dda86731-9993-4d8a-be75-6eee946b83eb/0?shared=true&)

UML class diagram done by @jiggy357.

[2018-02-21 18:45] ghost commented on #27
![screen shot 2018-02-21 at 1 30 49 pm](https://user-images.githubusercontent.com/22198043/36498475-602cc0dc-170c-11e8-8ea3-c330818feeba.png)

[View in LucidChart](https://www.lucidchart.com/documents/edit/dda86731-9993-4d8a-be75-6eee946b83eb/0?shared=true&)

UML class diagram done by @jiggy357.

[2018-02-21 18:46] ghost commented on #24
![screen shot 2018-02-21 at 1 30 49 pm](https://user-images.githubusercontent.com/22198043/36498475-602cc0dc-170c-11e8-8ea3-c330818feeba.png)

[View in LucidChart](https://www.lucidchart.com/documents/edit/dda86731-9993-4d8a-be75-6eee946b83eb/0?shared=true&)

UML class diagram done by @jiggy357.

[2018-02-21 23:50] Cotso commented on #40
![uml episodes page](https://user-images.githubusercontent.com/15900901/36512237-8d64a90e-1737-11e8-8f8b-482a9215d317.png)

[UML Diagram can be found here](https://www.lucidchart.com/documents/edit/1f97e1de-8d06-404c-9a08-1b7743b0cf13/0)

UML class diagram done by @jiggy357.

[2018-02-22 01:54] williamkingbede commented on #28
![capture d ecran 18](https://user-images.githubusercontent.com/25252961/36515845-54c83400-1749-11e8-80f5-4461c87f7698.png)
[View in LucidChart](https://www.lucidchart.com/documents/edit/1f97e1de-8d06-404c-9a08-1b7743b0cf13/0)

UML class diagram done by @jiggy357.

[2018-02-23 17:31] #17 closed, assigned to Sarb-F

[2018-02-23 17:35] FrankSauve opened #60 "Refactor TrendingFragment to extend ItunesFragment"

[2018-02-23 17:37] FrankSauve opened #61 "Unit test for loadTopList in TrendingFragment"

[2018-02-28 16:19] #61 closed, assigned to FrankSauve

[2018-02-28 16:19] #60 closed, assigned to FrankSauve

[2018-03-03 21:09] LeCleric opened #64 "Bug: Overlayed searches"
Selecting the 'title search' from the 'Search itunes' dropdown, then selecting the 'artist search' from the dropdown has the searches overlay on top of one another and stay on every page. Standard search doesn't have that though.

![image](https://user-images.githubusercontent.com/13441191/36939338-16cf14dc-1efd-11e8-86f5-cf48e23724e7.png)

![image](https://user-images.githubusercontent.com/134411

[2018-03-04 20:44] williamkingbede commented on #49
![capture d ecran 28](https://user-images.githubusercontent.com/25252961/36950360-dd1d0d5e-1fc2-11e8-8e22-264942558615.png)
[View in Lucidchart](https://www.lucidchart.com/documents/edit/1f97e1de-8d06-404c-9a08-1b7743b0cf13/0)
UML class diagram done by @jiggy357.

[2018-03-06 01:36] #49 closed, assigned to williamkingbede

[2018-03-06 01:37] #33 closed, assigned to williamkingbede

[2018-03-08 02:11] #53 closed, assigned to FrankSauve, LeCleric

[2018-03-08 20:50] guipadua commented on #49
Demoed and it worked. It has unit tests in the emulator structure.

[2018-03-08 20:53] guipadua commented on #54
Demoed and it worked. It has unit tests in the emulator structure.

[2018-03-09 00:26] FrankSauve opened #67 "Feature: Autocomplete for itunes search"
## Feature Description

Give suggestions to users as they type their search for iTunes.

## Feature Stories

- [x] As a user, I want to see auto-completed suggestions when I search the iTunes podcast library, so I can find the podcast I want faster.

## Feature Mock-ups

Original Search for Itunes             |  Autocomplete Search for Itunes
:-------------------------:|:-------------------------:

[2018-03-09 00:30] FrankSauve opened #68 "Story: Autocomplete suggestions"
## As a user, I want to have suggestions in the search bar, so I can be more productive in my research.

- **Number of story points:** 8
- **Priority:** Medium
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 5 hours

### Tasks TO DO:

Load search results on text change as auto-completion for:
- [X] Regular search
- [x] Title search
- [x] Artist search

### DEMO steps:

[Click here to see t

[2018-03-09 00:31] FrankSauve opened #69 "UI Tests for advanced search and subcategories"
From Iteration 3 #33 #53

[2018-03-09 00:34] FrankSauve opened #70 "Acceptance tests for Advanced search and subcategories"
Write "demo steps" for a manual test of the new features. (Including edge cases) in the issue itself #33

[2018-03-09 03:03] #54 closed, assigned to FrankSauve, LeCleric

[2018-03-14 15:02] #64 closed, assigned to nobody

[2018-03-14 18:33] Raph1105 commented on #44
I am going to work on that.

[2018-03-16 14:41] FrankSauve opened #72 "Burndown chart for R2"

[2018-03-16 14:44] FrankSauve opened #73 "Burndown chart for I4"

[2018-03-17 17:17] #70 closed, assigned to LeCleric

[2018-03-17 19:59] FrankSauve commented on #69
testAdvancedSearchCategories
![image](https://user-images.githubusercontent.com/13418355/37559418-27612ee8-29fc-11e8-929c-12784c84ab09.png)

[2018-03-17 20:03] FrankSauve commented on #69
testAdvancedSearchSubCategories
![image](https://user-images.githubusercontent.com/13418355/37559441-abcc383a-29fc-11e8-9253-b6b3e77beacc.png)

[2018-03-17 20:04] #69 closed, assigned to LeCleric

[2018-03-20 14:03] FrankSauve opened #78 "Static analysis in circleCI"
Story points: 3 pts
Risk: Medium
## Requested by teacher in this email
![image](https://user-images.githubusercontent.com/13418355/37658966-233ea7ca-2c25-11e8-9c65-9df94c6b96ca.png)

## Useful Links
[Wikipedia: Static Analysis](https://en.wikipedia.org/wiki/Static_program_analysis)
[CircleCI Code Coverage](https://circleci.com/docs/1.0/code-coverage/)
[Installing: Lint, FindBugs & PMD](https://pro

[2018-03-20 17:34] FrankSauve opened #79 "Feature: "Recommended for you" in the discovery tab"
## Feature Description

Load podcasts in the discovery tab based on what the user has previously listened.

## Feature Stories

- [x] As a user, I want to have a "Recommended for you" function in the preference page, so I can decide if I want to have automatic or manual suggestions. #81
- [x] As a user, I want to see suggested podcast based on what I have subscribed to previously. #90

## Feature

[2018-03-20 21:31] #23 closed, assigned to nobody

[2018-03-20 21:40] #43 closed, assigned to nobody

[2018-03-20 21:40] #44 closed, assigned to nobody

[2018-03-20 23:22] #73 closed, assigned to nobody

[2018-03-20 23:23] #58 closed, assigned to nobody

[2018-03-21 19:22] ghost commented on #44
c518fd7
032d187
5258bc4
9683f32
40350c2

[2018-03-21 19:25] ghost commented on #43
c518fd7
bb4d35d
a0e7805
ecd858b

[2018-03-23 03:43] #45 closed, assigned to williamkingbede

[2018-03-23 03:47] #67 closed, assigned to FrankSauve, LeCleric

[2018-03-23 04:01] #68 closed, assigned to FrankSauve

[2018-03-26 21:47] williamkingbede commented on #45
UI test for this story passed:
![capture d ecran 42](https://user-images.githubusercontent.com/25252961/37934905-c891d0e2-311d-11e8-8539-f6a123c56ade.png)

[2018-03-26 22:31] guipadua commented on #68
Video looks fine. It is just not yet clear to me how to activate the autocomplete, is it just to wait or press something?
Either way it can be signed off.

[2018-03-26 22:43] williamkingbede commented on #45
![capture d ecran 43](https://user-images.githubusercontent.com/25252961/37936931-7b951d78-3125-11e8-9f67-0c0b469eb40c.png)
[UML Diagram can be found here](https://www.lucidchart.com/documents/edit/1f97e1de-8d06-404c-9a08-1b7743b0cf13/0)

UML class diagram done by @jiggy357.

[2018-03-26 23:13] ghost opened #81 "Story: "Recommended for you" checkbox in preferences"
## As a user, I want to have a "Recommended for you" function in the preference page, so I can decide if I want to have automatic or manual suggestions

- **Number of story points:** 3
- **Priority:** Low
- **Risk:**  Medium
- _**Estimation of the ideal time**_: 7 hours

### Tasks TO DO:

- [x] Create a checkbox in the preferences to enable the feature and disable manual suggestions.

### TO DO be

[2018-03-26 23:15] ghost commented on #32
@LeCleric can you do the mock-up when you have time, please?

[2018-03-26 23:16] ghost commented on #79
@LeCleric can you do the mock-up when you have time, please?

[2018-03-26 23:23] ghost opened #82 "Story: Delete folder"
## As a user, I want to be able to delete a folder so I do not have unnecessary folders in my app.

- **Number of story points:** 5
- **Priority:** Medium
- **Risk:**  Medium
- _**Estimation of the ideal time**_ : 5 hours

### Tasks TO DO:

- [x] Create function to delete folders
- [x] Add function to delete folder and its episodes with context click
- [x] Add function to delete folder from menu i

[2018-03-26 23:24] ghost opened #83 "Story: Delete episode in folder"
## As a user, I want to be able to delete episodes in a folder so I do not have unwanted episodes in my folder.

- **Number of story points:** 5
- **Priority:** Low
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 5 hours

### Tasks TO DO:

- [x] Create a dialog box to rename the folders

### TO DO before closing the issue:
- [x] Assign story to a feature (label)
- [x] Assign an Iteration (

[2018-03-26 23:25] ghost opened #84 "Story: Rename folder"
## As a user, I want to be able to rename a folder so I can be more or less specific in the name of my folder.

- **Number of story points:** 5
- **Priority:** Medium
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 5 hours

### Tasks TO DO:

- [x] Add rename podcast button
- [x] Create function to rename podcasts

**Related to this story**

- Commit #122

**UI Test**

- Commit #122

**Demo

[2018-03-26 23:26] ghost opened #85 "Feature: Manage folders"
## Feature Description

Have many options for folders, such as delete it, delete episodes in the folder, rename folder and change the order of listening of the episodes in the folder.

## Feature Stories

- [x] As a user, I want to be able to delete a folder so I do not have unnecessary folders in my app. #82
- [x] As a user, I want to be able to delete episodes in a folder so I do not have unwant

[2018-03-26 23:27] ghost opened #86 "Story: Change the order of the episodes in a folder"
## As a user, I want to be able to change the order of the episodes in my folder, so I can listen to a specific order of my episodes.

- **Number of story points:** 5
- **Priority:** Low
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 3 hours

### Tasks TO DO:

- [ ] Change the layout of folders so that its possible to drag them up and down.

### TO DO before closing the issue:
- [x] Assig

[2018-03-26 23:32] FrankSauve commented on #68
@guipadua Just like google autocomplete, the suggestions are loaded every time the user types a character. It looks strange in the video because the person doing the demo was typing faster than the autocomple requests

[2018-03-26 23:39] ghost opened #87 "Feature: Automatically share on Social Media"
## Feature Description

Have the option to share in a post a podcast and add a comment, on Facebook and Twitter.

## Feature Stories
- ~~As a user, I want to be able to post automatically on Facebook whenever I listene to a podcast, so I can share it to my facebook friends.#88~~
- [x] As a user, I want to be able to post automatically on Twitter whenever I listene to a podcast, so I can share it t

[2018-03-26 23:40] ghost opened #88 "Story: Automatically share on Facebook"
## As a user, I want to be able to post automatically on Facebook whenever I listene to a podcast, so I can share it to my facebook friends.

- **Number of story points:** 5
- **Priority:** Low
- **Risk:**  Medium
- _**Estimation of the ideal time**_ : 7 hours

### Tasks TO DO:

- [ ] task1

### TO DO before closing the issue:
- [x] Assign story to a feature (label)
- [x] Assign an Iteration (mile

[2018-03-26 23:41] ghost opened #89 "Story: Automatically share on Twitter"
## As a user, I want to be able to post automatically on Twitter whenever I listene to a podcast, so I can share it to my Twitter friends.

- **Number of story points:** 5
- **Priority:** Low
- **Risk:**  Medium
- _**Estimation of the ideal time**_ : 7 hours

### Tasks TO DO:

- [x] Add login to twitter in settings
- [x] Post to twitter on listen

### TO DO before closing the issue:
- [x] Assign s

[2018-03-26 23:46] FrankSauve opened #90 "Story: Suggest podcast based on what was previously listened"
## As a user, I want to see suggested podcast based on what I have subscribed to previously.

- **Number of story points:** 5
- **Priority:** Medium
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 4 hours

### Tasks TO DO:

Create algorithm to suggest podcast based on what the user listened to previously:
- [x] By artists
- [x] By category
- [x] By title
- [x] Display the suggestions in th

[2018-03-26 23:47] LeCleric commented on #68
Yeah, I've got a fairly high wpm when using a keyboard.
On mobile no one would be able to type that quickly.

[2018-03-26 23:55] ghost opened #91 "Feature: Local research"
## Feature Description

Have a local search in my episodes page and in my _home page (when the feature is added)_

## Feature Stories

- [ ] As a user, I want to be able to search for a specific episode in my episodes page. #92
- [ ] As a user, I want to be able to search for a specific episode or podcast in my home page. #93

## Feature Mock-ups

The mock-ups were done by @LeCleric .

## Acceptan

[2018-03-26 23:55] ghost opened #92 "Story: local search in episodes page"
## As a user, I want to be able to search for a specific episode in my episodes page.

- **Number of story points:** 5
- **Priority:** Low
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 8 hours

### Tasks TO DO:

- [ ] task1

### TO DO before closing the issue:
- [ ] Assign story to a feature (label)
- [ ] Assign an Iteration (milestone)
- [ ] Link all commits, arch diagrams, summaries of

[2018-03-26 23:57] ghost opened #93 "Story: Local research in home page"
## As a user, I want to be able to search for a specific episode or podcast in my home page.

- **Number of story points:** 8
- **Priority:** Low
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 6 hours

### Tasks TO DO:

- [ ] task1

### TO DO before closing the issue:
- [x] Assign story to a feature (label)
- [x] Assign an Iteration (milestone)
- [ ] Link all commits, arch diagrams, summa

[2018-03-27 00:18] guipadua commented on #44
Video looks fine. Just didn't show (neither described here - although I saw the note for future work) what happen now when the categories were not previously selected.

[2018-03-27 00:20] guipadua commented on #45
Do you have a video for this one?

[2018-03-27 00:20] guipadua commented on #43
Based on the video, works fine.

[2018-03-27 00:47] LeCleric commented on #45
@guipadua Since there are still the additional steps required to make the folders appear I didn't put up a video.

Here's a video of the story in its current state:
https://www.youtube.com/watch?v=_4Ba1z7HdCA&feature=youtu.be

Fulfills all of the tasks in the story, but for now it requires you to press *Add Folder* followed by *Cancel* to make your folder appear.

Once the folders appear automatic

[2018-03-27 00:48] FrankSauve commented on #68
# UI Tests

## Regular Search
![image](https://user-images.githubusercontent.com/13418355/37940452-aa9fa0aa-3136-11e8-8d31-e64aeaf6828e.png)

## Title Search
![image](https://user-images.githubusercontent.com/13418355/37940478-cfabf40c-3136-11e8-94e0-eaa2d5b2da7d.png)

## Artist Search
![image](https://user-images.githubusercontent.com/13418355/37940505-fe0eaccc-3136-11e8-810f-8f99c3bfe810.png)

[2018-03-27 00:48] ghost opened #95 "Feature: Home page"
## Feature Description

Have a homepage with an overview of the different pages of the app.

## Feature Stories

- [x] As a user, I want a user-friendly home page, so I can have a lot grouped into one page. #102
- ~~As a user, I want to be able to see 10 Trending podcasts on my home page, so I can access them easily. #96~~
- ~~As a user, I want to be able to see the 10 first podcasts from the disc

[2018-03-27 00:50] ghost opened #96 "Story: Trending on home page"
## As a user, I want to be able to see 10 Trending podcasts on my home page, so I can access them easily.

- **Number of story points:** 13
- **Priority:** Low
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 5 hours

### Tasks TO DO:

- [ ] Load the trending podcast on the home page

### TO DO before closing the issue:
- [x] Assign story to a feature (label)
- [x] Assign an Iteration (mile

[2018-03-27 00:51] FrankSauve commented on #44
@guipadua The page is empty if no categories are chosen for now. This could be changed to have a message saying something like "Go to preferences to add categories you like"

[2018-03-27 00:52] ghost opened #97 "Story: Recent episodes on home page"
## As a user, I want to be able to see the most recent episodes I have downloaded on my home page, so I can access them easily.

- **Number of story points:** 5
- **Priority:** Low
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 3 hours

### Tasks TO DO:

- [ ] task1

### TO DO before closing the issue:
- [x] Assign story to a feature (label)
- [x] Assign an Iteration (milestone)
- [ ] Lin

[2018-03-27 00:52] ghost opened #98 "Story: Discovery on home page"
## As a user, I want to be able to see the 10 first podcasts from the discovery page on my home page, so I can access them easily.

- **Number of story points:** 13
- **Priority:** Low
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 5 hours

### Tasks TO DO:

- [ ] Load discovery suggestions on the homepage

### TO DO before closing the issue:
- [x] Assign story to a feature (label)
- [x]

[2018-03-27 00:54] ghost opened #99 "Story: Favorite episodes on home page"
## As a user, I want to be able to see my favorite episodes on my home page, so I can access them easily.

- **Number of story points:** 3
- **Priority:** Low
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 3 hours

### Tasks TO DO:

- [x] Load the users favorite podcasts on the homepage

### Demo steps:

1. go to homepage
2. see your favorites episodes

### TO DO before closing the issue:

[2018-03-27 00:55] ghost opened #100 "Story: Recent podcasts on home page"
## As a user, I want to be able to see the most recent podcasts I have subscribed to on my home page, so I can access them easily.

- **Number of story points:** 3
- **Priority:** Low
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 3 hours

### Tasks TO DO:

- [x] Load the recently added podcast on the homepage
- [x] Load the most recent episode in subscribed podcast

### Demo Steps:

1. g

[2018-03-27 00:56] ghost opened #101 "Story: Folders on home page"
## As a user, I want to be able to see my folders on my home page, so I can access them easily.

- **Number of story points:** 3
- **Priority:** Low
- **Risk:**  Low
- _**Estimation of the ideal time**_ : 5 hours

### Tasks TO DO:

- [x] Load folders list to the home page
- [x] Display the folders to the view in the appropriate section

### Related to this story

- commit: #120

### Unit test

- c

[2018-03-27 00:57] ghost opened #102 "Story: Home page view"
## As a user, I want a user-friendly home page, so I can have a lot grouped into one page.

- **Number of story points:** 5
- **Priority:** Low
- **Risk:**  Medium
- _**Estimation of the ideal time**_ : 5 hours

### Tasks TO DO:

- [x] Have the home page tab in the menue.
- [x] Have the home page created.
- [x] Have the items selectable (when we click on the episode, be redirected on it; same for

[2018-03-27 00:59] FrankSauve commented on #68
# Arch Diagram for ItunesSearchFragment
![image](https://user-images.githubusercontent.com/13418355/37940773-81c262f6-3138-11e8-8ad6-be5286501466.png)

[2018-03-27 02:59] ghost commented on #43
![antennapod core preferences userpreferences](https://user-images.githubusercontent.com/22198043/37944245-d981f1b8-3148-11e8-949d-b0d9ed551d8e.png)

[Can be found by clicking here.](https://www.lucidchart.com/invitations/accept/ae5952f9-e5f2-4001-8844-32e51bf150d6)

![capture d ecran 2018-03-26 a 21 50 27](https://user-images.githubusercontent.com/22198043/37944329-1525e3d2-3149-11e8-977e-2571b76

[2018-03-27 03:01] ghost commented on #43
Ui test "testDiscoveryPreferences()" passes:

<img width="1278" alt="capture d ecran 2018-03-26 a 23 00 21" src="https://user-images.githubusercontent.com/22198043/37944443-97524e72-3149-11e8-9207-ff15da12c65f.png">

[2018-03-27 03:08] ghost commented on #44
![capture d ecran 2018-03-26 a 21 46 25](https://user-images.githubusercontent.com/22198043/37944507-deb1aca4-3149-11e8-970c-0b9f6aaba536.png)

[Can be viewed by clicking here.](https://www.lucidchart.com/invitations/accept/1240ee82-cc0e-4082-8b20-b98a40034202)

[2018-03-27 03:14] ghost commented on #44
Ui test passes:

<img width="1280" alt="capture d ecran 2018-03-26 a 23 13 50" src="https://user-images.githubusercontent.com/22198043/37944866-65148568-314b-11e8-92af-0e0af035c5fa.png">

[2018-03-27 03:16] ghost commented on #49
@williamkingbede can you put the proof that the  Ui tests pass? please

[2018-03-27 03:20] #59 closed, assigned to Sarb-F, FrankSauve, LeCleric, Cotso, williamkingbede

[2018-03-27 03:21] ghost commented on #30
#46 and #47 are still in progress -- they will be done in iteration 5.

[2018-03-27 15:41] Sarb-F commented on #46
#46
![screen shot 2018-03-27 at 11 39 02 am](https://user-images.githubusercontent.com/11098366/37978314-c5d6cef2-31b3-11e8-820d-6a671e9b7151.png)

[2018-03-28 01:28] LeCleric commented on #32
Alright, the mock-up is done.

[2018-03-28 01:43] LeCleric commented on #79
Made a mockup, might improve on it tomorrow

[2018-03-28 18:56] ghost commented on #32
@guipadua Can you please validate this feature? Thank you.

[2018-03-28 18:57] ghost commented on #79
@guipadua Can you please validate this feature? Thank you.

[2018-03-28 18:57] ghost commented on #91
@guipadua Can you please validate this feature? Thank you.

[2018-03-28 18:57] ghost commented on #87
@guipadua Can you please validate this feature? Thank you.

[2018-03-28 18:57] ghost commented on #85
@guipadua Can you please validate this feature? Thank you.

[2018-03-28 18:58] ghost commented on #95
@guipadua Can you please validate this feature? Thank you.

[2018-03-28 18:59] #72 closed, assigned to nobody

[2018-03-28 19:01] ghost commented on #54
@FrankSauve @LeCleric Can you guys link the UML Class diagram updates and the Ui test proof? Thank you.

[2018-03-30 15:22] LeCleric commented on #54
UI test proof is on its own issue #69
Here it is again though

![image](https://user-images.githubusercontent.com/13441191/38143009-9eeea75a-340c-11e8-9362-29317c3fe4c4.png)

[2018-03-31 17:56] williamkingbede opened #103 "New folders created not loaded into the view directly"
### Tasks TO DO:

- [x] When a folder is created, add it to the FoldersFragment view.
- [x] Change the tests linked to this issue accordingly.

[2018-03-31 17:56] williamkingbede commented on #103
#45 #30

[2018-04-01 17:32] #50 closed, assigned to Sarb-F, FrankSauve, LeCleric, Cotso, williamkingbede

[2018-04-04 16:26] #103 closed, assigned to williamkingbede

[2018-04-05 22:45] ghost commented on #52
#105

[2018-04-05 22:52] #32 closed, assigned to nobody

[2018-04-06 16:23] williamkingbede commented on #46
### Good To Know:
- Episodes already added to one folder cannot be added to another
- If you add a lot of episodes at once to a folder it will take time to load all of them (Check the triangle counter)

[2018-04-07 15:55] FrankSauve commented on #90
## UI test passed
![image](https://user-images.githubusercontent.com/13418355/38457134-843065c6-3a5a-11e8-9331-bcf0b1e0a7c9.png)

[2018-04-07 15:55] FrankSauve commented on #81
## UI test passed
![image](https://user-images.githubusercontent.com/13418355/38457134-843065c6-3a5a-11e8-9331-bcf0b1e0a7c9.png)

[2018-04-07 21:56] #79 closed, assigned to FrankSauve, LeCleric

[2018-04-07 21:56] #81 closed, assigned to FrankSauve, LeCleric

[2018-04-07 21:57] #90 closed, assigned to FrankSauve, LeCleric

[2018-04-08 18:41] williamkingbede commented on #82
UI test passed.
![capture d ecran 46](https://user-images.githubusercontent.com/25252961/38471127-e29fd8e0-3b3a-11e8-9fbf-35500ef424e2.png)

[2018-04-08 19:14] williamkingbede commented on #82
Extented UI test passed.
![capture d ecran 48](https://user-images.githubusercontent.com/25252961/38471470-7c4c17a2-3b3f-11e8-8e64-7c80c6d7f5b1.png)

[2018-04-08 20:55] #52 closed, assigned to nobody

[2018-04-08 20:56] ghost commented on #52
@guipadua can you sign off this story ? thank you.

[2018-04-08 20:57] ghost commented on #81
@guipadua can you sign off this story ? thank you.

[2018-04-08 20:57] ghost commented on #90
@guipadua can you sign off this story ? thank you.

[2018-04-08 20:57] Raph1105 commented on #46
Is this done ?

[2018-04-08 20:58] Raph1105 commented on #46
@jiggy357 @williamkingbede is this story ready for sign off ?

[2018-04-08 21:01] ghost commented on #46
@guipadua can you sign off this story? thank you.

[2018-04-08 21:05] ghost commented on #102
@jiggy357 comment your commits on this story ! thank you :)

[2018-04-10 15:49] williamkingbede commented on #46
UI test successfully passed.
![capture d ecran 49](https://user-images.githubusercontent.com/25252961/38567845-28ca228c-3cb5-11e8-9314-ed797565c0ef.png)

[2018-04-10 23:40] guipadua commented on #52
Nice, much better. Just small thing above, that was UI test, not unit. I see you updated many tests since this change the UI a lot.

[2018-04-10 23:44] guipadua commented on #81
In the video looks fine. Another option added. Make sure you test the error message.

[2018-04-10 23:49] guipadua commented on #90
In the video, it seems to work based on a single selection, which happens randomly each time the discovery is opened. Maybe could be also a mix of previous items in another story. This is good for now.
Is there unit test here as well, or just UI?

[2018-04-10 23:52] FrankSauve commented on #90
@guipadua [Unit test is here](https://github.com/FrankSauve/390AntennaPod/blob/develop/app/src/androidTest/java/de/test/antennapod/discovery/DiscoveryTest.java)

[2018-04-10 23:53] guipadua commented on #46
Video looks fine for ideal scenario. Was it just the one UI test for adding? Maybe you could are a bit more, more scenarios (for example, with multiple episodes in multiple folders to see if they don't get mixed up).

[2018-04-11 17:07] ghost commented on #52
@guipadua I am confused, where did I say it was a Unit test?

I feel that it is not really necessary to do a unit test since I did not add any functions... I only played with the interface.

Do you need me to do something else than what I did for the Ui tests?

[2018-04-12 18:20] LeCleric commented on #88
We're going to scope out this story and just keep twitter.

The reasons why are the following:
- Our gradle version is too outdated to use the current terminology that Facebook outlines in their docs (Our current version only understands the _compile_ keyword; it doesn't understand _implements_)
- When attempting to use an older version for implementing Facebook through dated resources showing how

[2018-04-12 18:20] #88 closed, assigned to nobody

[2018-04-12 19:56] #46 closed, assigned to Sarb-F

[2018-04-12 21:02] ghost opened #114 "Feature: Reorganize the functions and views of the app"
## Feature Description

Have a working user-friendly app. Change some existant view/features of the app such as:

- Fix the buttons issues (have a different view according to the page (eg. Download, Favorites and Episodes page)).
- Fix the Lock/Unlock reversed view on the Queue page.
- Change some icons for them to be more appropriate for the function that they do.
- Add the Search Bar in some app

[2018-04-12 21:11] ghost opened #115 "Story: Reorganize the functions and the views"
## As a user, I want to be able to have a working user-friendly app, so that I have an enjoyable user experience.

- **Number of story points:** 5
- **Priority:** Low
- **Risk:**  Low
- _**Estimation of the ideal time**_: 8 hours

### Tasks TO DO:

- [x] Fix the issue of the remove button on the episodes page
**Demo steps:**  1.  open the Episodes page
   2. click on the gear icon
   3. click on "

[2018-04-12 21:13] ghost commented on #91
@guipadua

Unfortunately, we found that this features was already implemented. It was removed by mistake in the Second Sprint.

This story will be replaced by #115.

[2018-04-12 21:13] #91 closed, assigned to nobody

[2018-04-12 21:14] ghost commented on #114
@guipadua Can you validate this feature? Thank you

[2018-04-12 21:15] ghost commented on #92
Unfortunately, we found that this features was already implemented. It was removed by mistake in the Second Sprint.

This story will be replaced by #115.

[2018-04-12 21:15] #92 closed, assigned to nobody

[2018-04-13 11:46] guipadua commented on #52
No, it was just the description of the story on the top of this issue. Looks good now.

[2018-04-13 11:50] guipadua commented on #114
The description is too generic. Can you describe more specifically what you want to improve and maybe add mockups if you have?

[2018-04-13 14:28] ghost commented on #114
@guipadua all the tasks are in the story #115, it's a few improvements in existing features of the app that do not really work properly. I have updated the feature description.

I can mockup those but It would almost look the same but behave differently. Do you still want me to do mockups?

Or would it be better to have a story for each task?

[2018-04-13 22:27] FrankSauve commented on #89
## Demo Steps
[Successful login + automatic tweets enabled (Tweet appears)](https://www.youtube.com/watch?v=aFimX0-ZIQo&feature=youtu.be)
[Successful login + automatic tweets disabled (Tweet should not appear)](https://www.youtube.com/watch?v=yjWNR10W4Ao)

[2018-04-14 14:58] FrankSauve commented on #89
I am unable to mock anything from the twitter api. This makes it almost impossible to build unit tests for this feature.
![image](https://user-images.githubusercontent.com/13418355/38769538-ab753d50-3fd2-11e8-95ab-6a89685e36a5.png)

[2018-04-14 15:40] FrankSauve commented on #89
Unit test passed
![image](https://user-images.githubusercontent.com/13418355/38769910-903903f4-3fd8-11e8-8366-207d2e29c36d.png)

[2018-04-14 15:40] #89 closed, assigned to FrankSauve

[2018-04-14 15:40] #87 closed, assigned to FrankSauve

[2018-04-15 00:16] LeCleric commented on #79
Blue text were added in #107
Purple text were added in #116
In **_DiscoveryFragment_**:
![image](https://user-images.githubusercontent.com/13441191/38773648-23d300aa-4020-11e8-97c2-c441f59699bd.png)
In **_ITunesSearchFragment_**:
![image](https://user-images.githubusercontent.com/13441191/38773662-6b099e0c-4020-11e8-941c-960c207030c8.png)
In **_antennapod.core.preferences.UserPreferences_**
![imag

[2018-04-15 00:17] LeCleric commented on #81
Architecture Diagram on #79

[2018-04-15 00:17] LeCleric commented on #90
Architecture Diagram on #79

[2018-04-15 17:11] williamkingbede commented on #101
UI test successfully passed
![capture d ecran 51](https://user-images.githubusercontent.com/25252961/38781101-76d85d8e-40ae-11e8-9477-b70d5a08415d.png)

[2018-04-15 20:37] guipadua commented on #114
I think the description is more specific now. It's important to know that so you are able to properly measure if the story is giving the wanted value.

[2018-04-16 13:42] #31 closed, assigned to nobody

[2018-04-16 13:42] #35 closed, assigned to nobody

[2018-04-16 13:42] #34 closed, assigned to nobody

[2018-04-16 13:42] #78 closed, assigned to FrankSauve

[2018-04-17 01:28] #93 closed, assigned to williamkingbede

[2018-04-17 14:43] FrankSauve commented on #97
What is the difference between this and #100 ?

[2018-04-17 14:49] FrankSauve commented on #51
@Raph1105 Is this issue still relevant?

[2018-04-17 14:55] #82 closed, assigned to williamkingbede

[2018-04-17 15:01] williamkingbede commented on #97
#100 would display the recent subscriptions and this one would display episodes recently downloaded I guess

[2018-04-17 19:09] ghost commented on #115
#123

[2018-04-17 19:52] #51 closed, assigned to nobody

[2018-04-17 19:52] #97 closed, assigned to nobody

[2018-04-17 19:57] #99 closed, assigned to Sarb-F

[2018-04-17 19:58] #100 closed, assigned to Sarb-F

[2018-04-17 20:04] ghost commented on #98
Unfortunately, this story will not be done due to complications and lack of time.

[2018-04-17 20:04] #98 closed, assigned to nobody

[2018-04-17 20:04] ghost commented on #96
Unfortunately, this story will not be done due to complications and lack of time.

[2018-04-17 20:04] #96 closed, assigned to nobody

[2018-04-17 20:10] #101 closed, assigned to williamkingbede

[2018-04-17 20:42] guipadua commented on #102
Demoed and it looks good.

[2018-04-17 20:49] guipadua commented on #101
Demoed and it works. Has unit test. Has to fix the open in the home page because only show the first one.

[2018-04-17 20:56] guipadua commented on #100
Two separate things here:
-Newest: The most recent episodes from the episodes page.
-Recent: The latest episode from a subscription; will show the latest episode of a subscription when you just subscribed to it and will show the most recently added episode of each subscription, if its applicable (if an episode has been added in the last few days).

[2018-04-17 20:57] guipadua commented on #99
Demoed and it works.

[2018-04-17 21:00] guipadua commented on #89
Looks good. Has unit tests, but some functionality with twitter didn't fully work for testing purposes.

[2018-04-17 21:02] guipadua commented on #82
Works, folder is deleted. Has tests.

[2018-04-17 21:24] ghost commented on #101
Issue to show folders fixed in #124.

[2018-04-17 22:36] ghost commented on #102
#124

[2018-04-17 22:36] #102 closed, assigned to Sarb-F, FrankSauve

[2018-04-17 22:42] ghost commented on #99
#124 & a3f007b

[2018-04-17 22:46] ghost commented on #100
a3f007b & #124

[2018-04-18 15:57] #95 closed, assigned to Sarb-F, FrankSauve, williamkingbede

[2018-04-18 21:06] Sarb-F commented on #84
#84
![rename folder passing test](https://user-images.githubusercontent.com/11098366/38958281-ca81aa02-432a-11e8-91ac-0c0da32ab022.png)

[2018-04-18 21:13] Sarb-F commented on #84
#84
Renaming folder with items in it
![rename folder with items passing unit test](https://user-images.githubusercontent.com/11098366/38958637-d920c09c-432b-11e8-9d28-0b6cf4c2536c.png)

[2018-04-19 04:07] ghost commented on #115
![capture d ecran 2018-04-19 a 00 06 21](https://user-images.githubusercontent.com/22198043/38970809-9958851e-4365-11e8-94db-d74d40eb2607.png)
![capture d ecran 2018-04-19 a 00 03 38](https://user-images.githubusercontent.com/22198043/38970810-996b72fa-4365-11e8-8430-68bb77411572.png)
![capture d ecran 2018-04-19 a 00 00 10](https://user-images.githubusercontent.com/22198043/38970812-99838084-4365

[2018-04-19 04:37] #115 closed, assigned to nobody

[2018-04-19 04:38] #85 closed, assigned to Sarb-F, Cotso, williamkingbede

[2018-04-19 04:40] ghost commented on #84
#125

[2018-04-19 04:40] #84 closed, assigned to Sarb-F, Cotso

[2018-04-19 05:04] ghost commented on #86
This story was removed due to the lack of time and some functionality problems.

[2018-04-19 05:06] #86 closed, assigned to nobody

[2018-04-19 05:06] #114 closed, assigned to nobody

[2018-04-19 05:18] Sarb-F commented on #95
#95
UML
![blank diagram - page 1-3](https://user-images.githubusercontent.com/11098366/38972585-83b59ec2-436f-11e8-880f-d5d2685d704c.jpeg)

[2018-04-19 06:17] Sarb-F commented on #83
#83
![blank diagram - page 1-4](https://user-images.githubusercontent.com/11098366/38974359-d14149d6-4377-11e8-9d36-7fc0577f517c.jpeg)

[2018-04-19 06:35] Sarb-F commented on #84
#84
UML
![screen shot 2018-04-19 at 2 33 54 am](https://user-images.githubusercontent.com/11098366/38975051-5133821a-437a-11e8-901d-34668e30ff3f.png)

[2018-04-19 14:00] #83 closed, assigned to Sarb-F